body{
    margin: 0;
    padding: 0;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background: #ffff;
    color: #706868;
}
ul{
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
    border-bottom: rgb(160, 165, 160) 2px solid;
    min-height: 80px;
    padding: 15px 50px;
}

header li{
    display: inline;
    padding: 0 12px;
}

header nav {
    float: right;
    margin-top: 25px;
}
header a{
    text-decoration: none;
    color: #706868;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

header nav a:hover{
    color: rgb(94, 185, 129);
}

.brand {
    float: left;
    margin-left: 15px;
    margin-top: -3px;
}

header nav li a{
    font-size: 20px;
}

table{
    width: 60%;
    border-collapse: collapse;
}

th ,td{
    border: 1px  solid #a09d9d;
    padding: 8px;
    
}

tr:nth-child(even){
    background-color: rgb(135, 195, 247);
}

aside{
    background-color: #f7f7f7;
    margin-top: 80px;
    padding: 3%;
}

footer{
    background-color: rgb(125, 163, 247);
    color: white;
    padding: 2%;
    min-height: 65px;
}

.footer_left{
    float: left;

}

.footer_right{
    float: right;

}

.footer_right div{
    font-size: 12px;

}